<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<h2>join 페이지</h2>

	<form action="joinForm" method="post">
		<input type="text" name="username">
		<input type="password" name="password">
		<select name="role">
			<!--권한이름 앞에는 ROLE_  붙여주기-->
			<option value="ROLE_USER">유저권한</option>
			<option value="ROLE_ADMIN">관리자권한</option>
			<option value="ROLE_TESTER">테스터권한</optionva>
		</select>
		<input type="submit" value="회원가입">
	</form>
</body>

</html>